.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.active-filter {
  background-color: cadetblue;
  color: white;
}
.error {
  border: 2px solid red;
  outline: none;
}

.notCompleted {
  font-weight: 700;
}
